[user]
	email = krzysztof.szpieg@globallogic.com
	name = Krzysztof Szpieg
[core]
	editor = vim
	autocrlf = input
[commit]
	verbose = true
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
[push]
	autoSetupRemote = true
[pull]
	ff = only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[includeIf "gitdir:/mnt/e/gitdir/gl_work/"]
	path = ~/.gitconfig-work
